<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.bothellsoftware.bizquiz" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="BizQuiz" android:theme="@style/Theme.AppCompat.Light" android:icon="@drawable/icon" android:windowSoftInputMode="adjustResize">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
		<provider android:authorities="com.facebook.app.FacebookContentProvider1213675455439682" android:name="com.facebook.FacebookContentProvider" android:exported="true" />
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
		<activity android:name="com.facebook.FacebookActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/facebook_app_name" />
	</application>
</manifest>